.SideBar{
    position: fixed;
    border-right: 2px solid white;
    font-family: Lato, sans-serif;
    text-align: center;
    display: block;

}

.signout-icon{
    cursor: pointer;
    color: white;
}
.signout-icon:hover{
    color: rgba(255, 255, 255, 0.674)
}
.signout-container{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.signout-text{
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}
.signout-text:hover{
    color: rgba(255, 255, 255, 0.709)

}
.last-opt{
    padding-bottom: 100rem;
}